/* .sidebar {
    width: 18%;
    min-height: 100vh;
    border: 1.5px solid #a9a9a9;
    border-top: 1;
    font-size: max(1vw, 10px);
}

.sidebar-options {
    padding-top: 50px;
    padding-left: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar-option {
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1px solid #a9a9a9;
    border-right: 0;
    padding: 8px 10px;
    border-radius: 3px 0px 0px 3px;
    cursor: pointer;
}

@media(max-width:900px) {
    .sidebar-option p {
        display: none;
    }
} */

.sidebar-menu {
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
    height: 94vh;

}

/* .main img {
    width: 20px;

    border-radius: 50px;
    border: 2px;

} */

.logo {
    text-align: center;
    padding: 20px;
    color: #27374d;
    align-items: baseline;
    display: flex;
    gap: 20px;
}

.logo img {
    width: 100px;

    border-radius: 50px;
    border: 2px;
}

.menu-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu-list .item {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    color: #27374d;
}

.menu-list .item:hover {
    background-color: #27374d;
    color: #dde6dd;
}